.foot__serach {
  margin: 0 auto;
  max-width: 1160px;
  justify-content: center;
  height: 200px;
  z-index: 11;
  transform: translateY(-70px);
  box-shadow: 0px 10px 40px 0px #00000014;
  border-radius: 20px;
  background-color: white;
  padding-left: 50px;
}

.foot__inp {
  width: 224px;
  height: 47px;
  padding-left: 15px;
  border-radius: 100px;
  border: 1px solid #A0AEBD;
  color: #000;
}

.foot__inp {
  margin-left: 850px;
  margin-top: -70px;
  position: absolute;
}

.foot__col__button .btn {
  border-radius: 200px;
  margin-top: 20px;
  margin-top: 40px;
}

.foot__col__button .cod-1 {
  width: 115px;
  height: 47.19px;
  border-radius: 100px;
}

.foot__col__button .cod-4 {
  width: 115px;
  height: 47.19px;
  border-radius: 100px;
  margin-top: 20px;
}

.foot__col__button .cod-2 {
  width: 163.3px;
  height: 47.19px;
  border-radius: 100px;
  margin-left: -50px;
}

.foot__col__button .cod-5 {
  width: 130.66px;
  height: 47.19px;
  border-radius: 100px;
  margin-left: -50px;
  margin-top: 20px;
}

.foot__col__button .cod-3 {
  width: 117.05px;
  height: 47.19px;
  border-radius: 100px;
  margin-left: -50px;
}

@media screen and (max-width:1150px) {
  .footer__search__row {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
  }

  .foot__serach {
    height: 250px;
  }

  .foot__inp {
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    margin-bottom: 20px;
    position: absolute;
  }
}